    <style>
    </style>
    <div class="" style="margin: 0 auto; text-align: center; color: #6D6D6D">
    <p>This application can listen to your piano playing and recognize if you hit the right keys.<br />
    Make sure it is quiet around you when playing.</p>
    <p><strong>Supported browsers</strong><br />Chrome, Firefox, Edge, Opera</p>
    </div>